NODE_ENV="development" # or "production"

NEXTAUTH_SECRET="secret"

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

DATABASE_URL="postgresql://root:1234@localhost:5432/codeprompthub"
