@font-face {
  font-family: "Monolisa";
  src: url("../fonts/Monolisa/Monolisa.ttf") format("truetype");
}

.monolisa-font {
  font-family: "Monolisa";
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
